

#wrapper {
    display: inline-block;
    width:400px;
    padding-left: 250px;
    font-family:Verdana, sans-serif;
}

fieldset {
    text-align: center;
    border-radius: 10px;
    padding:20px;
    border-color:rgba(128, 255, 44);
}
input {
    background: #fff;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    margin-bottom:15px;
    border-radius:4px;
}
input[type="text"]{
    padding: 8px 6px;
    height: 22px;
    width:280px;
}

input[type="submit"]{
    background: #222;
    text-transform:uppercase;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 22px;
}